.searchSection{
    margin: 1% auto 0 auto;
    width: 90%;
    max-width: 1200px;
    
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.line{
    width: 90%;
    max-width: 1200px;
    height: 3px;
    background-color: #C0C4CC;
    margin: 0 auto;
}
.movieSection{
    margin: 1% auto 0 auto;
    width: 90%;
    max-width: 1200px; 
}
.gridContainer{
    display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
.gridItem{
    
    text-align: center;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgba(192, 196, 204, 1);
    border-radius: 2px;
  }